[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Port scanner, written in golang
[access "refs/*"]
	owner = group user/webbnh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/webbnh
	label-Verified = -1..+1 group user/webbnh
	push = group user/webbnh
	read = group user/webbnh
	rebase = group user/webbnh
	removeReviewer = group user/webbnh
	submit = group user/webbnh
[access "refs/heads/*"]
	create = group user/webbnh
	push = +force group user/webbnh
	pushMerge = group user/webbnh
	read = group user/webbnh
[access "refs/tags/*"]
	push = group user/webbnh
	push = +force group user/webbnh
